/* hero */

#hero {
  height: 600px;
  background-image: linear-gradient(
      0deg,
      rgba(65, 142, 207, 0.6) 0%,
      rgba(143, 191, 233, 0.6) 35%,
      rgba(98, 171, 232, 0.6) 100%
    ),
    url("../images/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#hero .container {
  display: flex;
  justify-content: flex-end;
}

.wrapper {
  width: 40%;
  padding: 2em;
  background-color: var(--background);
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.wrapper h1 {
  margin-bottom: 0.5em;
}

.wrapper p {
  margin-bottom: 1em;
}

.wrapper button {
  padding: 1em 2em;
  background-color: var(--primary);
  color: var(--background);
  border-radius: 0.5em;
  transition: 0.25s ease-in;
}

.wrapper button:hover,
:focus {
  scale: 1.05;
  background-color: var(--accent);
}

/* frst section */

/* second section */
#objectives {
  color: var(--text);
}

#objectives ul {
  display: flex;
  gap: 1.5em;
}

#objectives li {
  padding: 1.5em;
  border: 1px solid var(--primary);
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  transition: 0.25s ease-in;
}

#objectives li:hover,
:focus {
  scale: 1.05;
}

/* third section */
#destinations p {
  margin-bottom: 2em;
}

#destinations ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  gap: 0.3em;
}

#destinations li {
  font-weight: 500;
  font-style: italic;
}

/* fourth section */

/* fifth section */
#testimonials ul {
  display: flex;
  gap: 3em;
}

#testimonials li {
  padding: 1em;
  border: 1px solid var(--primary);
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  transition: 0.25s ease-in;
}

#testimonials li:hover,
:focus {
  scale: 1.05;
}

#testimonials h4 {
  margin-bottom: 0.5em;
}

/* sixth section */

/* seventh section */

/* faq */
.faq-list {
  list-style-type: none;
  padding: 0;
}

.faq-item {
  margin-bottom: 10px;
}

.faq-question {
  cursor: pointer;
  background-color: var(--background);
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 1em;
  margin: 0;
  font-weight: bold;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  margin-top: 5px;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.faq-item.active .faq-answer {
  max-height: 200px;
  padding: 10px;
}
